<a href="https://colab.research.google.com/github/Marck2004/JupiterNotebooks/blob/main/booksource/exercises/PandasExercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Exercises

## Creating DataFrames and Using Sample Data Sets

This is the Jupyter Notebook runnable exercises version of the article, [Pandas Practice Questions – Fifty-Two Examples to Make You an Expert](https://codesolid.com/pandas-practice-questions-twenty-one-examples-to-make-you-an-expert/).

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

**1.** Using NumPy, create a Pandas DataFrame with five rows and three columms:

In [2]:
npArray = np.ndarray((5, 3))
df = pd.DataFrame(npArray)
df

               0              1              2
0  1.411546e-320  7.777087e-320  5.335909e-321
1  9.557206e-320  2.854711e-320  2.854711e-320
2  9.557206e-320  5.335909e-321  7.777087e-320
3  1.411546e-320   0.000000e+00   0.000000e+00
4   0.000000e+00   0.000000e+00   0.000000e+00

**2.** For a Pandas DataFrame created from a NumPy array, what is the default behavior for the labels for the columns?  For the rows?

The default behaviour is autoincrement numbers

**3.** Create a second DataFrame as above with five rows and three columns, setting the row labels to the names of any five major US cities and the column labels to the first three months of the year.

In [3]:
difLabel = pd.DataFrame(npArray, ['New york', 'Atlanta', 'Michigan', 'Texas', 'Miami'], ['January', 'February', 'March'])
difLabel

                January       February          March
New york  1.411546e-320  7.777087e-320  5.335909e-321
Atlanta   9.557206e-320  2.854711e-320  2.854711e-320
Michigan  9.557206e-320  5.335909e-321  7.777087e-320
Texas     1.411546e-320   0.000000e+00   0.000000e+00
Miami      0.000000e+00   0.000000e+00   0.000000e+00

**4.** You recall that the Seaborn package has some data sets built in, but can't remember how to list and load them. Assuming the functions to do so have "data" in the name, how might you locate them?  You can assume a Jupyter Notebook / IPython environment and explain the process, or write the code to do it in Python.

In [4]:
sb.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

## Loading data from CSV

**5**. Zillow home data is available at this URL: https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv

Open this file as a DataFrame named df_homes in Pandas.

In [5]:
df_homes = pd.read_csv('https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')

**6.** Save the DataFrame, df_homes, to a local CSV file, "zillow_home_data.csv".

In [6]:
df_homes.to_csv('zillow_home_data.csv')

**7.** Load zillow_home_data.csv back into a new Dataframe, df_homes_2

In [7]:
df_homes_2 = pd.read_csv('zillow_home_data.csv')

**8.** Compare the dimensions of the two DataFrames, df_homes and df_homes_2.  Are they equal?  If not, how can you fix it?

In [8]:
df_homes_2

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2025-02-28,2025-03-31,2025-04-30,2025-05-31,2025-06-30,2025-07-31,2025-08-31,2025-09-30,2025-10-31,2025-11-30
0,0,102001,0,United States,country,NaN,121365.463017,121578.983773,121843.780950,122411.718918,...,360639.085047,360365.882152,359841.918311,359161.728607,358549.348441,358126.082695,357900.244881,358139.907469,358570.726255,359241.248814
1,1,394913,1,"New York, NY",msa,NY,217048.914950,217971.250375,218902.128288,220788.447146,...,683063.089259,684751.535661,687173.496480,688933.036680,690400.936533,691567.341599,692353.209509,693746.473781,696069.806090,699394.634661
2,2,753899,2,"Los Angeles, CA",msa,CA,218336.580065,219149.069165,220231.296899,222384.566542,...,948074.673902,943052.689223,938798.754881,934095.397500,929804.957480,927250.711189,926195.042763,927236.358557,929617.284624,932886.242451
3,3,394463,3,"Chicago, IL",msa,IL,151721.660042,151862.110101,152129.599712,152795.047391,...,326483.919256,327320.371223,327914.592965,328201.936285,328558.836926,329388.734181,330373.317156,331691.388829,332981.532008,334511.786740
4,4,394514,4,"Dallas, TX",msa,TX,126887.587653,126944.103828,127009.074957,127177.798153,...,372494.812737,371001.024231,368886.369472,366484.365155,364134.164489,362129.302053,360775.171809,360131.881806,359785.324832,359523.202747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,890,753929,935,"Zapata, TX",msa,TX,NaN,NaN,NaN,NaN,...,133514.675279,132781.438720,130685.614769,128397.504390,126235.703054,125502.898394,125045.903273,124278.819341,123296.785163,122508.051532
891,891,394743,936,"Ketchikan, AK",msa,AK,NaN,NaN,NaN,NaN,...,355352.000440,356097.700891,357694.059413,360593.048986,364569.188569,368550.555762,372669.696099,376094.651971,379367.392421,381733.048938
892,892,753874,937,"Craig, CO",msa,CO,98629.019558,98881.220858,99350.753613,100019.411625,...,293364.104906,293681.083315,294953.804884,296344.618371,297402.870382,298553.280741,299565.168301,300821.226874,301111.592432,300667.792859
893,893,395188,938,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,...,98254.714921,97086.075963,95629.430696,94456.342850,93598.594960,93001.199664,92743.248874,92388.650920,92194.298514,92668.330706
894,894,394767,939,"Lamesa, TX",msa,TX,NaN,NaN,NaN,NaN,...,101293.102592,101721.889379,102032.929261,101903.341545,101772.868257,101766.259832,101529.391196,101475.618876,101775.163123,103043.918352

**9.** A remote spreadsheet showing how a snapshot of how traffic increased for a hypothetical website is available here: https://github.com/CodeSolid/CodeSolid.github.io/raw/main/booksource/data/AnalyticsSnapshot.xlsx. Load the worksheet page of the spreasheet data labelled "February 2022" as a DataFrame named "feb".  Note: the leftmost column in the spreadsheet is the index column.

In [9]:
feb = pd.read_excel('https://github.com/CodeSolid/CodeSolid.github.io/raw/main/booksource/data/AnalyticsSnapshot.xlsx', 'February 2022')
feb

   Unnamed: 0  This Month  Last Month  Month to Month Increase
0       Users        1800         280                 5.428571
1   New Users        1700         298                 4.704698
2  Page Views        2534         436                 4.811927

**10.** The "Month to Month Increase" column is a bit hard to understand, so ignore it for now.  Given the values for "This Month" and "Last Month", create a new column, "Percentage Increase".

In [10]:

feb['Percentage Increase'] = round((feb['Last Month'] / feb['This Month']) * 100, 2)
feb

,Unnamed: 0,This Month,Last Month,Month to Month Increase,Percentage Increase
0,Users,1800,280,5.428571,15.56
1,New Users,1700,298,4.704698,17.53
2,Page Views,2534,436,4.811927,17.21

## Basic Operations on Data

**11.** Using Seaborn, get a dataset about penguins into a dataframe named "df_penguins".  Note that because all of the following questions depend on this example, we'll provide the solution here so no one gets stuck:

In [11]:
df_penguins = sb.load_dataset('penguins')

**12.** Write the code to show the the number of rows and columns in df_penguins

In [12]:
df_penguins.shape

(344, 7)

**13.** How might you show the first few rows of df_penguins?

In [13]:
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

**14.** How can you return the unique species of penguins from df_penguins?  How many unique species are there?

In [14]:
df_penguins['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

**15.** What function can we use to drop the rows that have missing data?

In [15]:
df_penguins.dropna()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

**16.** By default, will this modify df_penguins or will it return a copy?

will return a new dataFrame

**17.** How can we override the default?

**18.** Create a new DataFrame, df_penguins_full, with the missing data deleted.

In [16]:
df_penguins_full = df_penguins.dropna()
df_penguins_full

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

**19.** What is the average bill length of a penguin, in millimeters, in this (df_full) data set?

In [17]:

avg = np.average(df_penguins_full['bill_length_mm'])
avg

np.float64(43.99279279279279)

**20.** Which of the following is most strongly correlated with bill length?  a) Body mass?  b) Flipper length?  c) Bill depth?  Show how you arrived at the answer.

**21.** How could you show the median flipper length, grouped by species?

In [23]:
grouped = round(df_penguins_full.groupby('species')['flipper_length_mm'].mean(), 2)
grouped

species
Adelie       190.10
Chinstrap    195.82
Gentoo       217.24
Name: flipper_length_mm, dtype: float64

**22.** Which species has the longest flippers?

In [29]:
grouped.idxmax()

'Gentoo'

**23.** Which two species have the most similar mean weight?  Show how you arrived at the answer.

Adelie and Chinstrap

**24.** How could you sort the rows by bill length?

In [31]:
df_penguins_full.sort_values(['bill_length_mm'])

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
142,Adelie,Dream,32.1,15.5,188.0,3050.0,Female
98,Adelie,Dream,33.1,16.1,178.0,2900.0,Female
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,Female
92,Adelie,Dream,34.0,17.1,185.0,3400.0,Female
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,Female
...,...,...,...,...,...,...,...
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,Male
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,Male
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,Female
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,Male

**25.** How could you run the same sort in descending order?

In [33]:
df_penguins_full.sort_values(['bill_length_mm'], ascending=False)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,Male
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,Female
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,Male
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,Male
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
...,...,...,...,...,...,...,...
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,Female
92,Adelie,Dream,34.0,17.1,185.0,3400.0,Female
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,Female
98,Adelie,Dream,33.1,16.1,178.0,2900.0,Female
142,Adelie,Dream,32.1,15.5,188.0,3050.0,Female

**26.** How could you sort by species first, then by body mass?

In [34]:
df_penguins_full.sort_values(['species', 'body_mass_g'])

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
58,Adelie,Biscoe,36.5,16.6,181.0,2850.0,Female
64,Adelie,Biscoe,36.4,17.1,184.0,2850.0,Female
54,Adelie,Biscoe,34.5,18.1,187.0,2900.0,Female
98,Adelie,Dream,33.1,16.1,178.0,2900.0,Female
116,Adelie,Torgersen,38.6,17.0,188.0,2900.0,Female
...,...,...,...,...,...,...,...
331,Gentoo,Biscoe,49.8,15.9,229.0,5950.0,Male
297,Gentoo,Biscoe,51.1,16.3,220.0,6000.0,Male
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,Male
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,Male
237,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,Male

## Selecting Rows, Columns, and Cells

Let's look at some precious stones now, and leave the poor penguins alone for a while.  Let's look at some precious stones now, and leave the poor penguins alone for a while.

**27.** Load the Seaborn "diamonds" dataset into a Pandas dataframe named diamonds.

In [35]:
sbDtf = sb.load_dataset('diamonds')
diamonds = pd.DataFrame(sbDtf)
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

**28.** Display the columns that are available.

In [37]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

**29.** If you select a single column from the diamonds DataFrame, what will be the type of the return value?

float

**30.** Select the 'table' column and show its type

In [42]:
diamonds['table'].dtype

dtype('float64')

**31.** Select the first ten rows of the price and carat columns ten rows of the diamonds DataFrame into a variable called subset, and display them.

In [53]:
subset = diamonds[['price', 'carat']].head(10)
subset

   price  carat
0    326   0.23
1    326   0.21
2    327   0.23
3    334   0.29
4    335   0.31
5    336   0.24
6    336   0.24
7    337   0.26
8    337   0.22
9    338   0.23

**32.** For a given column, show the code to display the datatype of the _values_ in the column?

In [ ]:
subset['price'].dtypes

dtype('int64')

**33.** Select the first row of the diamonds DataFrame into a variable called row.

In [56]:
row = subset.head(1)
row

   price  carat
0    326   0.23

**34.** What would you expect the data type of the row to be?  Display it.

A Pandas series

In [ ]:
row.dtypes

price      int64
carat    float64
dtype: object

**35.** Can you discover the names of the columns using only the row returned in #33?  Why or why not?Can you discover the names of the columns using only the row returned in #33?  Why or why not?

Yes, because a row series should have the columns as the index (See below):

In [65]:
diamonds.iloc[[33]]

    carat        cut color clarity  depth  table  price     x     y    z
33   0.23  Very Good     E     VS1   59.5   58.0    402  4.01  4.06  2.4

**36.** Select the row with the highest priced diamond.

In [64]:
diamonds.loc[[diamonds['price'].max()]]

       carat    cut color clarity  depth  table  price     x     y    z
18823   1.26  Ideal     G     SI1   61.9   56.0   7711  6.92  6.98  4.3

**37.** Select the row with the lowest priced diamond.

In [66]:
diamonds.loc[[diamonds['price'].min()]]

     carat    cut color clarity  depth  table  price     x     y     z
326   0.53  Ideal     F      IF   61.9   54.0   2802  5.22  5.25  3.24

## Some Exercises Using Time Series

**38.** Load the taxis dataset into a DataFrame, ```taxis```.

In [67]:
sbDt = sb.load_dataset('taxis')
taxis = pd.DataFrame(sbDt)

**39.** The 'pickup' column contains the date and time the customer picked up, but it's a string.  Add a column to the DataFrame, 'pickup_time', containing the value in 'pickup' as a DateTime.

In [71]:
taxis['pickup_time'] = pd.to_datetime(taxis['pickup'])
taxis.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,pickup_time
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,2019-03-23 20:21:09
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,2019-03-04 16:11:55
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,2019-03-27 17:53:01
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,2019-03-10 01:23:59
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,2019-03-30 13:27:42

**40.** We have a hypothesis that as the day goes on, the tips get higher.  We'll need to wrangle the data a bit before testing this, however.  First, now that we have a datetime column, pickup_time, create a subset of it to create a new DataFrame, taxis_one_day. This new DataFrame should have values between '2019-03-23 00:06:00' (inclusive) and '2019-03-24 00:00:00' (exlusive).

**41.** We now have a range from morning until midnight, but we to take the mean of the numeric columns, grouped at one hour intervals.  Save the result as df_means, and display it.

**42.** Create a simple line plot of the value "distance".

**43.** Overall, do riders travel further or less far as the day progresses?

**44.** Create a new column in taxis_means, ```tip_in_percent```.  The source columns for this should be "fare" and "tip"

**45.** Create a new column, time_interval, as a range of integer values beginning with zero.

Display the correlations between the following pairs of values:
1. tip_in_percent and distance.
1. tip_in_percent and passengers.
1. tip_in_percent and time_interval.

**47.** Admittedly, the size of the data set is fairly small given how we've subsetted it.  But based on the values in #45, which of the three pairs show the strongest correlation.

**48.** Did our hypothesis that people tip more as the day goes on turn out to be warranted?